@media (min-width: 1440px) {
  /* CSS styles for desktop screens with a width of 1440px or larger */
  .container {
    width: 1440px; /* Set the width of your container to 1440px */
    margin: 0 auto; /* Center the container horizontally */
  }
}

.parent-con {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 6.25rem;
  border-radius: 100%;

  .results-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    justify-content: space-between;

    border-radius: 10px;
    height: 250px;
    width: 150px;
    margin: 10px;
    padding: 25px;
    background-image: linear-gradient(
      to bottom,
      $gradient-light-state-blue-bg,
      $gradient-light-royal-blue-bg
    );

    h3 {
      color: $neutral-pale-blue;
    }

    .score-circle {
      h1 {
        font-size: 3.125rem;
        color: white;
      }

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: center;
      font-size: 10px;
      border-radius: 50%;
      padding: 10px;
      text-align: center;
      width: 100px;
      height: 100px;
      font-family: "Hanken Grotesk", sans-serif;
      color: $neutral-pale-blue;
      background-image: linear-gradient(
        to bottom,
        $gradient-light-state-blue-bg,
        $gradient-light-royal-blue-bg
      );
    }

    h2 {
      margin: 10px;
      font-size: 20px;
      color: white;
    }

    p {
      color: $neutral-pale-blue;
      font-size: 0.625rem;
    }
  }

  .summary-con {
    display: flex;
    flex-direction: column;

    .grid-container {
      display: grid;
      gap: 10px;
      padding: 10px;
      column-gap: 30px;

      .summary-header {
        color: $neutral-dark-gray-blue;
        font-weight: bold;
      }
      .highlight {
        color: $neutral-light-lavender;
        font-weight: bold;
      }

      .item1 {
        display: flex;
        align-items: center;
        grid-column-start: 1;
        grid-column-end: 3;
        padding: 10px;
        gap: 10px;
        color: $primary-light-red;
      }

      .item2 {
        display: flex;
        align-items: center;
        grid-column-start: 3;
        grid-column-end: 3;
        padding: 10px;
        gap: 10px;
      }

      .item3 {
        display: flex;
        align-items: center;
        grid-column-start: 1;
        grid-column-end: 3;
        padding: 10px;
        gap: 10px;
        color: $primary-orangey-yellow;
      }

      .item4 {
        display: flex;
        align-items: center;
        grid-column-start: 3;
        grid-column-end: 3;
        padding: 10px;
        gap: 10px;
      }

      .item5 {
        display: flex;
        align-items: center;
        grid-column-start: 1;
        grid-column-end: 3;
        padding: 10px;
        gap: 10px;
        color: $primary-green-teal;
      }

      .item6 {
        display: flex;
        align-items: center;
        grid-column-start: 3;
        grid-column-end: 3;
        padding: 10px;
        gap: 10px;
      }
      .item7 {
        display: flex;
        align-items: center;
        grid-column-start: 1;
        grid-column-end: 3;
        padding: 10px;
        gap: 10px;
        color: $primary-cobalt-blue;
      }
      .item8 {
        display: flex;
        align-items: center;
        grid-column-start: 3;
        grid-column-end: 3;
        padding: 10px;
        gap: 10px;
      }
    }

    .summary-footer {
      display: flex;
      justify-content: center;
      .summary-button {
        background-color: $neutral-dark-gray-blue;
        padding: 12px 24px;
        border: none;
        border-radius: 100px;
        width: 200px;
        color: white;
      }
    }
  }
}

/* New media query for mobile screens */
@media (max-width: 375px) {
  .parent-con {
    display: flex;
    flex-direction: column;
    .results-con {
      width: 100%;
      height: 100%;
      margin: 0px;
      border-bottom-left-radius: 20%;
      border-bottom-right-radius: 20%;
    }
  }
}
